<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Recipe collection</title>
    </head>
    <body>
        <h1>Recipes</h1>
        <p th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</p>

        <table>
            <tr>
                <th>name</th>
                <th>rating</th>
            </tr>
            <tr th:each="r : ${recipes}">
                <td th:text="${r.name}"/>
                <td th:text="${r.rating}"/>
            </tr>
        </table>

        <hr />
        <h3>Add recipe</h3>
        <form th:action="@{/recipes}" method="post">
            Name: <input type="text" name="name" />
            Text: <input type="text" name="text" />
            <input type="submit" value="Add" />
        </form>
        <hr />
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>